<h1>All Tags</>
 <ul>
  <% @tags.each do |tag|%>
   <li>
    <%= link_to tag.name, tag, class: 'tag_title' %>
    <%= link_to "delete", tag, method: :delete, data: {confirm: "Deleting"} %>
   </li>
  <%end%>
 </ul>
